@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/iransans/eot/IRANSansWeb.eot');
	src: url('../fonts/iransans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iransans/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/iransans/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iransans/ttf/IRANSansWeb.ttf') format('truetype');
}

:root{
    --primary-color:#047aed;
    --secondary-color:#1c3fa8;
    --dark-color:#003340;
    --light-color:#f4f4f4;
    --success-color:#5cb85c;
    --error-color:#d9534f;
    --main-light-color:rgb(129,82,240);
    --main-color:rgb(98,0,237);
    --main-dark-color:rgb(0,0,60);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: IranSans;
}

body{
    background-color: rgb(219, 219, 219);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}

/* NavBar */
.navbar{
    height: 70px;
    color: #fff;
    background-color: var(--main-dark-color);
    z-index: 100;
    position: relative;
}

.navbar #bars-menu-btn{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
    border: none;
    background-color: transparent;
}


.navbar ul{
    display: flex;
}

.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    font-family: IRANSans;
    font-size: 15px;
}
.navbar a:hover{
    border-bottom: 1px solid #fff;
}

.navbar .flex{
    justify-content: space-between;
}

.navbar .div-login a{
    border: 1px solid white;
    border-radius: 10px;
}
.navbar .div-login a:hover{
    background-color: var(--main-light-color);
    border: 1px solid var(--main-color);
    transition: 0.3s;
}

.navbar .div-login a i{
    margin-left: 10px;
}

/* Navbar Menu */
#sidebar-menu{
    width: 100%;
    height: 100vh;
    background-color: var(--main-dark-color);
    z-index: 100;
    padding-top: 20px;
    position: fixed;
    display: none;
}

#sidebar-menu ul li a{
    display: block !important;
    text-align: center;
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    font-family: IRANSans;
    font-size: 15px;
}
#sidebar-menu ul li a i{
    margin-left: 10px;
}


/* Login Form */
#body-form{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    position: fixed;
    justify-items: center;
    display: none;
}

#login-form,
#register-form{
    width: 400px;
    position: relative;
    margin: 10% auto;
    top:20px;
}

#register-form{
    margin: 7% auto;
}

#register-form{
    display: none;
}

#login-form h2> i,
#register-form h2> i{
    margin: 0px 10px;
}

#login-form .close-btn,
#register-form .close-btn{
    color: var(--main-color);
    position: absolute;
    top: 15px;
    right:15px;
    cursor: pointer;
}
#login-form .form-control,
#register-form .form-control{
    margin: 30px;
}

#login-form input[type='text'],
#login-form input[type='password'],
#register-form input[type='text'],
#register-form input[type='password'],
#register-form input[type='email']{
    border: 0;
    width: 100%;
    padding: 3px;
    font-size: 16px;
    border-bottom: 1px solid var(--main-color);
}


#login-form input[type='text']:focus,
#login-form input[type='password']:focus,
#register-form input[type='text']:focus,
#register-form input[type='password']:focus,
#register-form input[type='email']:focus{
    outline: 1px solid var(--main-dark-color);
    border-radius: 5px;
}

#login-form input[type='text']::placeholder,
#login-form input[type='password']::placeholder,
#register-form input[type='text']::placeholder,
#register-form input[type='password']::placeholder,
#register-form input[type='email']::placeholder{
    color: var(--main-color);
}
#login-form input[type='text']::-ms-input-placeholder,
#login-form input[type='password']::-ms-input-placeholder,
#register-form input[type='text']::-ms-input-placeholder,
#register-form input[type='password']::-ms-input-placeholder,
#register-form input[type='email']::-ms-input-placeholder{
    color: var(--main-color);
}
#login-form input[type='text']::-ms-input-placeholder,
#login-form input[type='password']::-ms-input-placeholder,
#register-form input[type='text']::-ms-input-placeholder,
#register-form input[type='password']::-ms-input-placeholder,
#register-form input[type='email']::-ms-input-placeholder{
    color: var(--main-color);
}




#login-form .login-btn,
#login-form .newAccount-btn,
#register-form .login-btn,
#register-form .newAccount-btn{
    width: 80%;
    font-size: 14px;
}
#register-form .newAccount-btn,
#login-form .newAccount-btn{
    background-color: var(--main-light-color);
}

/* Box Design */
.box{
    width: 100%;
    height: 500px;
    background-color: var(--main-dark-color);
    transform: skewY(-12deg);
    position: absolute;
    top: -136px;
    left: 0;
    right: 0;
    z-index: 5;
}
.box-left{
    transform: skewY(-8deg);
}
.box-right{
    transform: skewY(8deg);
}

/* Stats */
.stats{
    padding-top: 100px;
    position: relative;
    z-index: 10;
    margin-bottom: 100px;
}

.stats .stats-heading{
    font-family: IranSans;
    color: #fff;
}

.stats i ,.stats h4 , .stats p{
    color: #fff;
}


/* Projects */
.projects{
    width: 100%;    
    z-index: 50;
    position: relative;
}

.projects .flex{
    justify-content: start;
}

.projects .card{
    text-align: center;
}

.projects .card a{
    margin-top: 15px;
}
.projects .card img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

/* About Site */
.about-site{
    background-color: var(--main-dark-color);
}

.about-site h3,
.about-site pre{
    color: #fff;
}

.about-site a{
    background-color: var(--main-color);
    margin-top: 30px;
}

/* Languages */
.languages .card{
    max-width: 200px;
}

.languages .card img{
    width: 150px;
    height: 150px;
}

.languages .flex{
    flex-wrap: wrap;
}

.languages .card:hover{
    margin-top: -20px;
    transition: 0.4s;
}


/* Footer */
.footer{
    background-color: var(--main-dark-color);
}

.footer .container{
    height:100px;
}

.footer .container ul li{
    float: right;
}

.footer .container a{
    color: #fff;
    padding: 15px;
}

.footer div p{
    color: #fff;
}

#backTop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    cursor: pointer;
    border: none;
    background-color: var(--main-light-color);
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}


@media(max-width:768px){
    /* NavBar */
    .navbar #bars-menu-btn{
        display: block;
    }
    .navbar nav{
        display: none;
    }

    /* Stats */
    .stats{
        margin-top: -80px;
    }

    .languages .card img{
        width: 100px;
        height: 100px;
    }
    .grid,
    .projects .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

