<!-- Footer -->

<footer class="footer py-1">
    <div class="container grid">
        <nav class="social">
            <ul>
                <li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>
            </ul>
        </nav>

        <nav class="footer-menu">
            <ul>
                <li><a href="/">صفحه نخست</a></li>
                <li><a href="/project">پروژه ها</a></li>
                <li><a href="/about">درباره ما</a></li>
                <li><a href="/contact">ارتباط با ما</a></li>
            </ul>
        </nav>
    </div>
    <div class="text-center">
        <p>Mojtaba Esmaili Copyright &copy; 2021</p>
    </div>
</footer>

<button onclick="topFunction()" id="backTop"><i class="fas fa-arrow-up"></i></button>

<script src="../../public/js/app.js"></script>